<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off" defaultRedirect="404.html">
      <error statusCode="404" redirect="404.html"/>
      <error statusCode="400" redirect="404.html"/>
      <error statusCode="500" redirect="404.html"/>
    </customErrors>
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <appSettings>
    <add key="HostName" value="mail.yourwebsitepreview.com"/>
    <add key="User" value="forms@yourwebsitepreview.com"/>
    <add key="Password" value="forms123"/>
    <add key="ContactEmail" value="info@cloudnet365.com"/>
    <add key="ccEmail" value="tirup@dotscoms.com"/>
    <add key="Logo" value="http://www.cloudnet365.com/assets/img/ghhcs-logo-top.png"/>
    <add key="siteurl" value="http://www.cloudnet365.com/"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="Imported Rule 1" stopProcessing="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^cloudnet365\.com" />
          </conditions>
          <action type="Redirect" url="http://www.cloudnet365.com/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  
</configuration>
